* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #baa2de, #a799f5, #819ce2);
  color: #333;
  text-align: center;
  transition: background 0.4s, color 0.4s;
}

body.dark {
  background: #121212;
  color: #f1f1f1;
}

.hero {
  padding: 40px 20px;
}

.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 10px;
}

.tabs {
  margin: 20px 0;
}

.tab-btn {
  padding: 12px 25px;
  margin: 5px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: white;
  transition: 0.3s;
}

.tab-btn.active,
.tab-btn:hover {
  background: #1cc88a;
  color: white;
}

.container {
  background: white;
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

body.dark .container {
  background: #1e1e1e;
}

.card {
  margin: 25px 0;
}

.card img {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card2 img {
  width: 500px;
  height: 240px;
  border-radius: 10px;
}


.hidden {
  display: none;
}

.fade-in {
  animation: fade 0.6s ease-in-out;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

footer {
  margin: 20px;
}

/* Switch Dark Mode */
.toggle-wrapper {
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1cc88a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 5%;
}
